
<div class="course">
<amm-course></amm-course>
</div>
<br>
<h2>Informations Etudiant</h2>




     <div>
      <label class="label"> Identité</label>
      <br>
     </div>
     <button class="button" [routerLink]="['/scores/',student.id]" >
      Voir mes notes  </button>
       <div>   <form [formGroup]="form" class="form">
       <label>Nom</label>
       <input type ="text" formControlName="lastName" matInput placeholder="Nom *">
         <label>Prenom</label>

        <input type ="text" formControlName="firstName" matInput placeholder="Prénom *">
         <label>Date de naissance</label>
        <input type ="text" formControlName="phoneNumber" matInput placeholder="Numéro de téléphone *">
          <label>mot de passe </label>
        <input type="password" formControlName="password" matInput placeholder="Password *">
         <label>Email</label>
        <input type ="text" formControlName="email" matInput placeholder="Email *">
         <label>Numero</label>
        <input type ="text" formControlName="streetNumber" matInput placeholder="Numéro de rue *">
         <label>Rue</label>
        <input type ="text" formControlName="streetName" matInput placeholder="Nom de rue *">
         <label>Ville</label>
        <input type ="text" formControlName="cityName" matInput placeholder="Ville *">
         <label>Code postal</label>
        <input type ="number" formControlName="cityCode" matInput placeholder="Code postal*">


         <label for="birthday">Date de naissance</label>
    <input type="Date" formControlName="birthday"  [value]="student.birthday" >

  </form> </div>

<button class="button" (click)="registerMe()">
 S'inscrire  </button>
